In [9]:
import os
import pandas as pd

In [10]:
data_dir = "../raw"
df = pd.DataFrame()
for fname in os.listdir(data_dir):
    if fname.endswith(".csv"):
        df = pd.concat([df,pd.read_csv(os.path.join(data_dir,fname))])

In [11]:
df

     id                                               text     label
0   411  Dekat dengan hotel saya menginap, hanya ditemp...  positive
1   729                 Iya benar, dia sedang jaga warung.   neutral
2   373  Kangkungnya lumayan tapi kepiting saus padangn...  negative
3   262  Bertempat di braga city walk yang satu gedung ...  positive
4   177  Gianyar terima bantuan sosial 2018 sebesar rp ...   neutral
..  ...                                                ...       ...
95  335  Mohon informasikan atm mana saja di semarang y...   neutral
96  921  Teman merekomendasikan tempat ini karena rasa ...  positive
97  147  Pertama ke sini saya under estimate, pas waktu...  positive
98  678  Tempatnya menyenangkan baik untuk yang sudah b...  positive
99  873  Belakangan ini sudah terjadi dua kali gempa di...   neutral

[1000 rows x 3 columns]

In [12]:
df.label.unique()

array(['positive', 'neutral', 'negative'], dtype=object)

In [13]:
prompt = "Prediksi nilai sentimen dari teks berikut"

In [14]:
def add_prompt(text):
    return prompt + ' | ' + text

df["input"] = df["text"].apply(add_prompt)
df["output"] = df["label"]
df = df[["input","output"]]

In [15]:
df.head()

                                               input    output
0  Prediksi nilai sentimen dari teks berikut | De...  positive
1  Prediksi nilai sentimen dari teks berikut | Iy...   neutral
2  Prediksi nilai sentimen dari teks berikut | Ka...  negative
3  Prediksi nilai sentimen dari teks berikut | Be...  positive
4  Prediksi nilai sentimen dari teks berikut | Gi...   neutral

In [16]:
df.to_csv("../interim/data.csv",index=False)